@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: var(--font-poppins);
  background: var(--background);
  color: var(--foreground);
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,h2,h3,h4{
  font-family: var(--font-cormorant);
  margin: 0;
}

img, picture, video {
  max-width: 100%;
  height: auto;
  display: block;
}

:root{
  --primary:#C13494;
  --secondary:#F9EDF0;
  --dark:#700342;
}

html{
  scroll-behavior:smooth;
}

/* Prevent horizontal overflow on small screens */
html, body, #__next {
  overflow-x: hidden;
}

.btn-primary{
  background:#F9EDF0;
  color:#700342;
  padding:16px 34px;
  border-radius:999px;
  transition:.3s;
  font-weight:500;
}

.btn-primary:hover{
  background:#700342;
  color:white;
}


::-webkit-scrollbar{
  width:10px;
}

::-webkit-scrollbar-track{
  background:#F9EDF0;
}

::-webkit-scrollbar-thumb{
  background:#C13494;
  border-radius:999px;
}

::-webkit-scrollbar-thumb:hover{
  background:#700342;
}


.card{
  border-radius:36px;
  background:white;
  box-shadow:
  0 10px 40px rgba(0,0,0,.08);
}



::selection{
  background:#C13494;
  color:white;
}


button{
    cursor:pointer;
}

a{
    cursor:pointer;
}